// main container
.add-todo-container {
   
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 2% 5%;
    padding-top: 10%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  //  input container for laptop
    @media (min-width: 1200px) {
      width: 40vw;
     
      .input-container {
        
    //   input items styling for laptop
        input,
        select,
        .ant-picker,
        .ant-select-selector {
          font-size: 20px;
        }
      }
    }
  //  input container fot tablet and mobile
    .input-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1vw;
      justify-content: center;
//    label
      label {
        font-weight: 600;
        color: rgb(88, 83, 83);
        margin-bottom: 4px;
        margin-top: 10px;
        display: block;
        width: 100%;
        text-align: left;
         // font size for desktop
        @media (min-width: 1700px) {
            font-size: 20px;
          }
        
      }
    //   input items for mobile and tab
  
      input,
      select,
      .ant-picker,
      .ant-select-selector {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid hwb(205 59% 12%);
        border-radius: 5px;
        margin: 10px;
         // font size for desktop
        @media (min-width: 1700px) {
            font-size: 20px;
          }
  
        &:focus {
          border: 1px solid hsl(205, 64%, 44%);
        }
      }
    //   ant select for select input
      .ant-select {
        margin-bottom: 16px;
            // nasted
        .ant-select-selector {
          text-align: left;
         width: 100%;
  
          &:focus {
            border: 1px solid hsl(205, 64%, 44%);
          }
        }
      }
    }
//   add todo btn
    .ant-btn {
      margin-top: 16px;
      height: auto;
     @media (min-width: 1700px) {
        font-size: 20px;
        font-weight: 600;
        
        
      
    }
    }
  }
  
